body
  margin: 0
  padding: 10px
  .graph
    margin-top: 10px
  .graph, .dt
    display: flex
    align-items: flex-end
    text-align: center
    > temp, rain, wind
      background-color: lightblue
    > *
      width: 60px
      padding: 5px
      margin: 0.5px