body
  font-family: 'Oswald', sans-serif;
  margin: 0 auto
  max-width: 600px
  padding: 10px
  font-weight: 300
.graph
  margin-top: 30px
  font-weight: 400
.graph, .dt
  display: flex
  align-items: flex-end
  text-align: center
  > temp, rain, wind
    background-color: lightblue
    > p
      transform: translateY(-40px)
  > *
    width: 60px
    padding: 1px 5px
    margin: 0.5px
.capitalize
  text-transform: capitalize
.fontNormal
  font-weight: 400