body
  margin: 0
  padding: 10px
  .graph
    margin-top: 30px
  .graph, .dt
    display: flex
    align-items: flex-end
    text-align: center
    > temp, rain, wind
      background-color: lightblue
      > p
        transform: translateY(-37px)
    > *
      width: 60px
      padding: 1px 5px
      margin: 0.5px