/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Body */
body {
  font-family: 'Open Sans', sans-serif;
}
/* Fonts */
.menu-logo {
  font-size: 16px;
}
.menu-label-text {
  font-size: 12px;
  font-weight: bold;
  color: #bfbfdd;
}
.idea-label-text {
  font-size: 12px;
  font-weight: bold;
  color: #1f1f3d;
}
/* Sidebar menu */
.menu {
  background-color: #1f1f3d;
  color: white;
}
.menu-section {
  border-bottom: 1px solid #353567;
  padding: 10px;
}
.menu-sort li {
  list-style: none;
  padding: 0 5px;
}
.menu-sort li:hover {
  background-color: #d14119;
  margin-right: -10px;
}
.menu-sort li:hover::before {
  content: 'a';
  color: #f58e72;
  background-color: #f58e72;
  left: 0;
  position: absolute;
  border-right: 2px solid #f58e72;
}
.menu-sort li a {
  text-decoration: none;
  color: white;
  display: block;
}
.form-element {
  display: block;
}
.menu-button {
  color: #e9e9f3;
  background-color: #5356A4;
  border-color: #353567; /*not good enough */
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}
.menu-text-input {
  padding: 5px;
}
.menu-button,
.menu-sort,
.menu-form {
  margin-top: 10px;
}
/* Idea Input */
.idea-wrapper {
  background-color: #a9aad2;
}
.idea {
  padding: 10px;
}
.idea-button {
  color: #e9e9f3;
  background-color: #1f1f3d;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}
.idea-button:disabled {
  background-color: #e0e0c2;
}
.idea-button,
.idea-label-text,
.search {
  margin-top: 10px;
}
textarea {
  resize: none;
}
.search {
  display: flex;
  justify-content: center;
}
.search-button {
  background-image: url(./icons/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #1f1f3d;
  padding-right: 16px;
}
.search-input {
  width: 100%;
}
.search-input::placeholder {
  color: #1f1f3d;
  font-size: 12px;
}
.search-input,
.idea-text-input {
  padding: 5px;
}
.idea-text-input,
.idea-button,
.search {
  border: 1px solid #7171c3;
}
/* Idea cards */
.card-section {
  background-color: #eaeaf4;
  padding: 10px;
}
.card {
  border: 1px solid #1f1f3d;
}
.card-header {
  background-color: #1f1f3d;
}
.quality {
  background-color: #5356a4;
}
.favorite           {background-image: url(./icons/star.svg);}
.favorite-starred   {background-image: url(./icons/star-active.svg);}
.delete             {background-image: url(./icons/delete.svg);}
.delete:hover       {background-image: url(./icons/delete-active.svg);}
.quality-up         {background-image: url(./icons/upvote.svg);}
.quality-down       {background-image: url(./icons/downvote.svg);}
.quality-up:hover   {background-image: url(./icons/upvote-active.svg);}
.quality-down:hover {background-image: url(./icons/downvote-active.svg);}

.favorite,
.favorite-starred,
.delete,
.delete:hover,
.quality-up,
.quality-down,
.quality-up:hover,
.quality-down:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
.card-main {
  background-color: white;
  text-align: left;
  color: #1f1f3d;
}
.card-title {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}
.card-body {
  font-size: 14px;
  padding: 10px;
  padding-top: 0;
}
.quality-label {
  color: white;
  font-size: 12px;
}
.card-header,
.quality {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
  .menu-button,
  .menu-text-input,
  .idea-wrapper,
  .idea,
  .idea-text-input,
  .idea-button,
  .search {
    width: 100%;
  }
}
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}